{% extends 'base.html' %}


{% block title %}
Documentation
{% endblock title %}


{% block style %}

{% endblock style %}


{% block content %}

<section id="two">
    <div class="inner">
            <div class="content">
              <a href="{{ url_for('.api') }}" ><button type="button" class="btn btn-primary">API docs</button> </a> <br> <br>
                <header>
                    <h3>Gate Managment</h3>
                </header>
                <p>
                    Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.
                </p>
            </div>
    </div> <br>
    <div class="inner">
            <div class="content">
                <header>
                    <h3>Mask Detection</h3>
                </header>
                <p>
                    Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.
                </p>
            </div>
    </div>
    <div class="inner">
            <div class="content">
                <header>
                    <h3>People In and Out</h3>
                </header>
                <p>
                    Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.
                </p>
            </div>
    </div>
    <div class="inner">
            <div class="content">
                <header>
                    <h3>Emotion Analysis</h3>
                </header>
                <p>
                    Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.
                </p>
            </div>
    </div>
    <div class="inner">
            <div class="content">
                <header>
                    <h3>Social Distancing</h3>
                </header>
                <p>
                    Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.Responsive Dashboard which can not be obtained in any online Dashboard Systems.
                    Simple, Elegant, and Precise.
                </p>
            </div>
    </div>
</section>


{% endblock content %}
